.transactionBtn {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  font-family: 'Inter', sans-serif;
  font-size: 24px;
  font-weight: 800;
  border-radius: 11px;
  border: 1px solid var #cbd5e1;
  background-color: #1e3a8a;
  box-shadow: 5px 15px 30px -5px #dce0ec;
  height: 120px;
  min-width: 270px;
  width: 100%;
  color: #f1f5f9;
  cursor: pointer;
}

.transactionIcon {
  padding-right: 12px;
  width: 40px;
}
