.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal {
  background-color: #f1f5f9;
  padding: 32px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  width: 600px;
  height: 640px;
  border-radius: 40px;
  line-height: 41.6px;
}

.text {
  width: 536px;
  height: 52px;
  padding: 8px 16px;
  border-radius: 12px;
  border: 1px solid #e2e8f0;
}

.form {
  padding: 20px 0;
}

.modalTitle {
  font-size: 32px;
  font-weight: 600;
  text-align: center;
  border-bottom: 4px solid #1e40af;
  color: #27272a;
}

label {
  color: #1e293b;
  font-size: 16px;
  font-weight: 700;
  line-height: 35px;
}

.radioButton {
  font-size: 12px;
  font-weight: 400;
  gap: 8px;
  cursor: pointer;
  padding-right: 8px;
  display: flex;
  align-items: center;
}

.radioIcon {
  align-items: center;
  width: 20px;
  height: 20px;
}

.radioLabel {
  display: flex;
}

.buttons {
  display: flex;
  gap: 16px;
}

.btn {
  width: 260px;
  border-radius: 12px;
  font-size: 16px;
  font-weight: 400;
  display: flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
}

.btn > img {
  margin-right: 8px;
}

.cancel {
  border: 2px solid #1e40af;
  background-color: #f1f5f9;
  color: #1e40af;
}

.add {
  background-color: #1e40af;
  border: none;
  color: #f1f5f9;
}
