.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal {
  background-color: #f1f5f9;
  padding: 32px;
  border-radius: 40px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  width: 600px;
  display: flex;
  flex-direction: column;
  line-height: 1.6;
}

.text {
  width: 100%;
  height: 52px;
  padding: 8px 16px;
  border-radius: 12px;
  border: 1px solid #e2e8f0;
  margin-bottom: 5px;
}

.error {
  color: #dc2626;
  font-size: 14px;
  display: block;
}

.form {
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.modalTitle {
  font-size: 32px;
  font-weight: 600;
  text-align: center;
  border-bottom: 4px solid #1e40af;
  color: #27272a;
}

label {
  color: #1e293b;
  font-size: 16px;
  font-weight: 700;
  line-height: 35px;
}

.radioGroup {
  display: flex;
  gap: 10px;
  margin: 16px 0;
  border: none;
}

.radioButton {
  font-size: 14px;
  font-weight: 500;
  gap: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.radioIcon {
  width: 20px;
  height: 20px;
}

.buttons {
  margin-top: 5px;
  display: flex;
  gap: 16px;
  margin-top: auto;
}

.btn {
  flex: 1;
  border-radius: 12px;
  font-size: 16px;
  font-weight: 500;
  display: flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.btn > img {
  margin-right: 8px;
}

.cancel {
  border: 2px solid #1e40af;
  background-color: #f1f5f9;
  color: #1e40af;
}

.add {
  background-color: #1e40af;
  border: none;
  color: #f1f5f9;
}
