.header {
  background-color: #1e3a8a;
  width: 100%;
  display: flex;
  padding: 20px 120px;
  justify-content: space-between;
  color: #eff6ff;
}

.logo {
  display: flex;
  align-items: center;
  gap: 12px;
}

.logo > img {
  color: #f1f5f9;
}

.logo h1 {
  font-size: 32px;
  font-weight: 700;
}

.user {
  display: flex;
  align-items: center;
  gap: 16px;
}

.details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.details h2 {
  font-size: 16px;
  font-weight: 600;
}

.details p {
  font-size: 14px;
  font-weight: 400;
}

@media (max-width: 1170px) {
  .logo h1 {
    font-size: 25px;
  }
}

@media (max-width: 723px) {
  .logo h1 {
    font-size: 18px;
  }

  .logo > img {
    width: 40px;
  }
}

@media (max-width: 692px) {
  .header {
    padding: 20px 20px;
  }
}

@media (max-width: 465px) {
  .header {
    padding: 12px 10px;
  }

  .logo h1 {
    font-size: 15px;
  }

  .user {
    gap: 10px;
  }
  .details h2 {
    font-size: 12px;
  }

  .details p {
    font-size: 10px;
  }
  .logo {
    gap: 2px;
  }
  .logo > img {
    width: 30px;
  }
  .userImg {
    width: 30px;
  }
}
