.cardContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 1rem;
  padding: 0px 120px;
  margin: 32px 0px;
  justify-content: space-between;
  flex-wrap: wrap;
}
