.cardContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 1rem;
  padding: 0px 120px;
  margin: 32px 0px;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media (max-width: 1008px) {
  .cardContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 692px) {
  .cardContainer {
    padding: 0px 20px;
  }
}

@media (max-width: 450px) {
  .cardContainer {
    padding: 0px 10px;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  }
}
