.footer {
  background-color: #cbd5e1;
  padding: 20px 120px;
  color: #1e293b;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-size: 16px;
  font-weight: 600;
}

@media (max-width: 692px) {
  .footer {
    padding: 20px 20px;
  }
}

@media (max-width: 450px) {
  .footer {
    padding: 10px 10px;
    font-size: 12px;
    text-align: center;
  }
}
